# Data Science Tools and Ecosystem

### In this Notebook, Data Science Tools and Ecosystem are Sumary
### Some of the popular languages that Data Scientists use are:

    1. Python
    2. Java
    3.C++
    4. C

## Nome of the commonly used libraries used by Data Scientists include:
    1.Numpy
    2.Matplotlib
    3.Scikit-Laern
    4.TensorFlow
 ## **Objetivos**
    1.Criar um novo notebook Jupiter
    2. Criar células
    3.Formatos de texto
    4. Listar dicionários populares
    5. Listar linguagens mais utilizadas

|Data Science Tools|
|------------------|
|Apache Hadoop|
|SAS|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

4

In [3]:
#  This will convert 200 minutes to hours by diving by 6

200/60

4.0

## AUTHOR: ANTONIO CARLOS M M